<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>D Y D</string>
		<key>cht</key>
		<string>D Y D</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string></string>
		<key>type</key>
		<string>0</string>
	</dict>
    <dict>
        <key>chs</key>
        <string>(๑• . •๑)</string>
        <key>cht</key>
        <string>(๑• . •๑)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>→_→</string>
        <key>cht</key>
        <string>→_→</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>←_←</string>
        <key>cht</key>
        <string>←_←</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>_(:3」∠)_</string>
        <key>cht</key>
        <string>_(:3」∠)_</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>ˋ( ° ▽、° )</string>
        <key>cht</key>
        <string>ˋ( ° ▽、° )</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(๑•̀ㅂ•́)و✧</string>
        <key>cht</key>
        <string>(๑•̀ㅂ•́)و✧</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>Σ(っ °Д °;)っ</string>
        <key>cht</key>
        <string>Σ(っ °Д °;)っ</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>╮(╯_╰)╭</string>
        <key>cht</key>
        <string>╮(╯_╰)╭</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>_(┐「ε:)_</string>
        <key>cht</key>
        <string>_(┐「ε:)_</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(╭￣3￣)╭♡</string>
        <key>cht</key>
        <string>(╭￣3￣)╭♡</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>o(≧v≦)o~~</string>
        <key>cht</key>
        <string>o(≧v≦)o~~</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>ヾ(′▽｀*)ゝ</string>
        <key>cht</key>
        <string>ヾ(′▽｀*)ゝ</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>‵(*∩_∩*)′</string>
        <key>cht</key>
        <string>‵(*∩_∩*)′</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(/≧▽≦)/~</string>
        <key>cht</key>
        <string>(/≧▽≦)/~</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>ㄟ( ▔, ▔ )ㄏ</string>
        <key>cht</key>
        <string>ㄟ( ▔, ▔ )ㄏ</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>~(￣▽￣~)</string>
        <key>cht</key>
        <string>~(￣▽￣~)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(~￣▽￣)~</string>
        <key>cht</key>
        <string>(~￣▽￣)~</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>Σ( ° △ °|||)︴</string>
        <key>cht</key>
        <string>Σ( ° △ °|||)︴</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(*/ω＼*)</string>
        <key>cht</key>
        <string>(*/ω＼*)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>/(ㄒoㄒ)/~~</string>
        <key>cht</key>
        <string>/(ㄒoㄒ)/~~</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(°ー°〃)</string>
        <key>cht</key>
        <string>(°ー°〃)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>ヾ(￣▽￣)</string>
        <key>cht</key>
        <string>ヾ(￣▽￣)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(╯°Д°）╯︵</string>
        <key>cht</key>
        <string>(╯°Д°）╯︵</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(☆ω☆)</string>
        <key>cht</key>
        <string>(☆ω☆)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>ㄟ(￣▽￣ㄟ)</string>
        <key>cht</key>
        <string>ㄟ(￣▽￣ㄟ)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(*´艸`)、</string>
        <key>cht</key>
        <string>(*´艸`)、</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(ーー゛)</string>
        <key>cht</key>
        <string>(ーー゛)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(⊙o⊙)</string>
        <key>cht</key>
        <string>(⊙o⊙)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>╭(╯^╰)╮</string>
        <key>cht</key>
        <string>╭(╯^╰)╮</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>( ˘•㉨•˘ )</string>
        <key>cht</key>
        <string>( ˘•㉨•˘ )</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>w(ﾟДﾟ)w</string>
        <key>cht</key>
        <string>w(ﾟДﾟ)w</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>ฅ( ̳• ◡ • ̳)ฅ</string>
        <key>cht</key>
        <string>ฅ( ̳• ◡ • ̳)ฅ</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>⊙﹏⊙‖∣</string>
        <key>cht</key>
        <string>⊙﹏⊙‖∣</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(｡•ˇ‸ˇ•｡)</string>
        <key>cht</key>
        <string>(｡•ˇ‸ˇ•｡)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(っ╥╯﹏╰╥c)</string>
        <key>cht</key>
        <string>(っ╥╯﹏╰╥c)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>( •̀∀•́ )</string>
        <key>cht</key>
        <string>( •̀∀•́ )</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>o(&gt;﹏&lt;)o</string>
        <key>cht</key>
        <string>o(&gt;﹏&lt;)o</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(ˉ▽￣～) 切~~</string>
        <key>cht</key>
        <string>(ˉ▽￣～) 切~~</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>⊙ω⊙</string>
        <key>cht</key>
        <string>⊙ω⊙</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>=。=b</string>
        <key>cht</key>
        <string>=。=b</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>─=≡Σ((( つ•̀ω•́)つ</string>
        <key>cht</key>
        <string>─=≡Σ((( つ•̀ω•́)つ</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(ง •̀_•́)ง</string>
        <key>cht</key>
        <string>(ง •̀_•́)ง</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>&lt;(＿　＿)&gt;</string>
        <key>cht</key>
        <string>&lt;(＿　＿)&gt;</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>o(￣ヘ￣o＃)</string>
        <key>cht</key>
        <string>o(￣ヘ￣o＃)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>ヽ(￣д￣;)ノ</string>
        <key>cht</key>
        <string>ヽ(￣д￣;)ノ</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>( ^_^ )/~~拜</string>
        <key>cht</key>
        <string>( ^_^ )/~~拜</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(ฅ´ω`ฅ)留爪</string>
        <key>cht</key>
        <string>(ฅ´ω`ฅ)留爪</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(*^．^*)</string>
        <key>cht</key>
        <string>(*^．^*)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(ˉ▽ˉ；)</string>
        <key>cht</key>
        <string>(ˉ▽ˉ；)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>♪(^∇^*)</string>
        <key>cht</key>
        <string>♪(^∇^*)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>o(*￣3￣)o</string>
        <key>cht</key>
        <string>o(*￣3￣)o</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>o(一︿一+)o</string>
        <key>cht</key>
        <string>o(一︿一+)o</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>(〃￣︶￣)人(￣︶￣〃)</string>
        <key>cht</key>
        <string>(〃￣︶￣)人(￣︶￣〃)</string>
        <key>gif</key>
        <string></string>
        <key>png</key>
        <string></string>
        <key>type</key>
        <string>0</string>
    </dict>
</array>
</plist>
