<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[1f643]</string>
		<key>cht</key>
		<string>[1f643]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f643.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f644]</string>
		<key>cht</key>
		<string>[1f644]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f644.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f621]</string>
		<key>cht</key>
		<string>[1f621]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f621.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f60a]</string>
		<key>cht</key>
		<string>[1f60a]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f60a.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f60b]</string>
		<key>cht</key>
		<string>[1f60b]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f60b.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f60c]</string>
		<key>cht</key>
		<string>[1f60c]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f60c.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f60f]</string>
		<key>cht</key>
		<string>[1f60f]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f60f.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f601]</string>
		<key>cht</key>
		<string>[1f601]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f601.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f604]</string>
		<key>cht</key>
		<string>[1f604]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f604.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f602]</string>
		<key>cht</key>
		<string>[1f602]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f602.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f609]</string>
		<key>cht</key>
		<string>[1f609]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f609.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f612]</string>
		<key>cht</key>
		<string>[1f612]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f612.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f614]</string>
		<key>cht</key>
		<string>[1f614]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f614.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f618]</string>
		<key>cht</key>
		<string>[1f618]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f618.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f628]</string>
		<key>cht</key>
		<string>[1f628]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f628.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f630]</string>
		<key>cht</key>
		<string>[1f630]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f630.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f631]</string>
		<key>cht</key>
		<string>[1f631]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f631.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f633]</string>
		<key>cht</key>
		<string>[1f633]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f633.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f637]</string>
		<key>cht</key>
		<string>[1f637]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f637.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f603]</string>
		<key>cht</key>
		<string>[1f603]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f603.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f61e]</string>
		<key>cht</key>
		<string>[1f61e]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f61e.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f620]</string>
		<key>cht</key>
		<string>[1f620]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f620.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f47f]</string>
		<key>cht</key>
		<string>[1f47f]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f47f.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f61c]</string>
		<key>cht</key>
		<string>[1f61c]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f61c.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f60d]</string>
		<key>cht</key>
		<string>[1f60d]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f60d.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f613]</string>
		<key>cht</key>
		<string>[1f613]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f613.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f61d]</string>
		<key>cht</key>
		<string>[1f61d]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f61d.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f62d]</string>
		<key>cht</key>
		<string>[1f62d]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f62d.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f622]</string>
		<key>cht</key>
		<string>[1f622]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f622.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f61a]</string>
		<key>cht</key>
		<string>[1f61a]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f61a.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f623]</string>
		<key>cht</key>
		<string>[1f623]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f623.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f624]</string>
		<key>cht</key>
		<string>[1f624]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f624.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f632]</string>
		<key>cht</key>
		<string>[1f632]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f632.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f62a]</string>
		<key>cht</key>
		<string>[1f62a]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f62a.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f60e]</string>
		<key>cht</key>
		<string>[1f60e]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f60e.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f494]</string>
		<key>cht</key>
		<string>[1f494]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f494.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f339]</string>
		<key>cht</key>
		<string>[1f339]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f339.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f48a]</string>
		<key>cht</key>
		<string>[1f48a]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f48a.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f44c]</string>
		<key>cht</key>
		<string>[1f44c]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f44c.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f4aa]</string>
		<key>cht</key>
		<string>[1f4aa]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f4aa.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f44a]</string>
		<key>cht</key>
		<string>[1f44a]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f44a.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f44d]</string>
		<key>cht</key>
		<string>[1f44d]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f44d.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f44e]</string>
		<key>cht</key>
		<string>[1f44e]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f44e.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f44f]</string>
		<key>cht</key>
		<string>[1f44f]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f44f.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f64f]</string>
		<key>cht</key>
		<string>[1f64f]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f64f.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f446]</string>
		<key>cht</key>
		<string>[1f446]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f446.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f447]</string>
		<key>cht</key>
		<string>[1f447]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f447.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[261d]</string>
		<key>cht</key>
		<string>[261d]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_261d.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[270c]</string>
		<key>cht</key>
		<string>[270c]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_270c.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f448]</string>
		<key>cht</key>
		<string>[1f448]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f448.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f449]</string>
		<key>cht</key>
		<string>[1f449]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f449.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[270b]</string>
		<key>cht</key>
		<string>[270b]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_270b.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[270a]</string>
		<key>cht</key>
		<string>[270a]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_270a.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f440]</string>
		<key>cht</key>
		<string>[1f440]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f440.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f444]</string>
		<key>cht</key>
		<string>[1f444]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f444.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f442]</string>
		<key>cht</key>
		<string>[1f442]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f442.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f35d]</string>
		<key>cht</key>
		<string>[1f35d]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f35d.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f35c]</string>
		<key>cht</key>
		<string>[1f35c]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f35c.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f35e]</string>
		<key>cht</key>
		<string>[1f35e]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f35e.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f35f]</string>
		<key>cht</key>
		<string>[1f35f]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f35f.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f363]</string>
		<key>cht</key>
		<string>[1f363]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f363.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f382]</string>
		<key>cht</key>
		<string>[1f382]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f382.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f367]</string>
		<key>cht</key>
		<string>[1f367]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f367.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f366]</string>
		<key>cht</key>
		<string>[1f366]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f366.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f34e]</string>
		<key>cht</key>
		<string>[1f34e]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f34e.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f353]</string>
		<key>cht</key>
		<string>[1f353]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f353.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f349]</string>
		<key>cht</key>
		<string>[1f349]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f349.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f354]</string>
		<key>cht</key>
		<string>[1f354]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f354.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f37b]</string>
		<key>cht</key>
		<string>[1f37b]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f37b.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[2615]</string>
		<key>cht</key>
		<string>[2615]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_2615.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f6ac]</string>
		<key>cht</key>
		<string>[1f6ac]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f6ac.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f384]</string>
		<key>cht</key>
		<string>[1f384]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f384.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f389]</string>
		<key>cht</key>
		<string>[1f389]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f389.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f380]</string>
		<key>cht</key>
		<string>[1f380]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f380.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f388]</string>
		<key>cht</key>
		<string>[1f388]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f388.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f334]</string>
		<key>cht</key>
		<string>[1f334]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f334.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f49d]</string>
		<key>cht</key>
		<string>[1f49d]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f49d.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f48d]</string>
		<key>cht</key>
		<string>[1f48d]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f48d.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f4a3]</string>
		<key>cht</key>
		<string>[1f4a3]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f4a3.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f4a6]</string>
		<key>cht</key>
		<string>[1f4a6]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f4a6.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f4a4]</string>
		<key>cht</key>
		<string>[1f4a4]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f4a4.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f437]</string>
		<key>cht</key>
		<string>[1f437]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f437.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f435]</string>
		<key>cht</key>
		<string>[1f435]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f435.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f419]</string>
		<key>cht</key>
		<string>[1f419]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f419.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f42e]</string>
		<key>cht</key>
		<string>[1f42e]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f42e.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f414]</string>
		<key>cht</key>
		<string>[1f414]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f414.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f438]</string>
		<key>cht</key>
		<string>[1f438]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f438.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f424]</string>
		<key>cht</key>
		<string>[1f424]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f424.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f428]</string>
		<key>cht</key>
		<string>[1f428]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f428.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f41b]</string>
		<key>cht</key>
		<string>[1f41b]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f41b.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f420]</string>
		<key>cht</key>
		<string>[1f420]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f420.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f436]</string>
		<key>cht</key>
		<string>[1f436]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f436.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f42f]</string>
		<key>cht</key>
		<string>[1f42f]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f42f.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f484]</string>
		<key>cht</key>
		<string>[1f484]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f484.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f40d]</string>
		<key>cht</key>
		<string>[1f40d]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f40d.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f42c]</string>
		<key>cht</key>
		<string>[1f42c]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f42c.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f42d]</string>
		<key>cht</key>
		<string>[1f42d]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f42d.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f427]</string>
		<key>cht</key>
		<string>[1f427]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f427.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f433]</string>
		<key>cht</key>
		<string>[1f433]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f433.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f459]</string>
		<key>cht</key>
		<string>[1f459]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f459.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[2614]</string>
		<key>cht</key>
		<string>[2614]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_2614.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[2600]</string>
		<key>cht</key>
		<string>[2600]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_2600.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[26a1]</string>
		<key>cht</key>
		<string>[26a1]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_26a1.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f319]</string>
		<key>cht</key>
		<string>[1f319]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f319.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[274c]</string>
		<key>cht</key>
		<string>[274c]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_274c.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f525]</string>
		<key>cht</key>
		<string>[1f525]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f525.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f493]</string>
		<key>cht</key>
		<string>[1f493]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f493.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f47b]</string>
		<key>cht</key>
		<string>[1f47b]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f47b.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f480]</string>
		<key>cht</key>
		<string>[1f480]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f480.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f489]</string>
		<key>cht</key>
		<string>[1f489]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f489.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f4a9]</string>
		<key>cht</key>
		<string>[1f4a9]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f4a9.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f4b0]</string>
		<key>cht</key>
		<string>[1f4b0]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f4b0.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f6bd]</string>
		<key>cht</key>
		<string>[1f6bd]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f6bd.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f41a]</string>
		<key>cht</key>
		<string>[1f41a]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f41a.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f45c]</string>
		<key>cht</key>
		<string>[1f45c]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f45c.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f197]</string>
		<key>cht</key>
		<string>[1f197]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f197.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[2122]</string>
		<key>cht</key>
		<string>[2122]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_2122.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f47e]</string>
		<key>cht</key>
		<string>[1f47e]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f47e.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[2755]</string>
		<key>cht</key>
		<string>[2755]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_2755.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f52b]</string>
		<key>cht</key>
		<string>[1f52b]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f52b.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[2668]</string>
		<key>cht</key>
		<string>[2668]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_2668.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f4de]</string>
		<key>cht</key>
		<string>[1f4de]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f4de.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f302]</string>
		<key>cht</key>
		<string>[1f302]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f302.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[26c4]</string>
		<key>cht</key>
		<string>[26c4]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_26c4.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[3297]</string>
		<key>cht</key>
		<string>[3297]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_3297.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[1f47d]</string>
		<key>cht</key>
		<string>[1f47d]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_1f47d.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[0fffe]</string>
		<key>cht</key>
		<string>[0fffe]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_0fffe.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[0ffff]</string>
		<key>cht</key>
		<string>[0ffff]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_0ffff.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[0fffc]</string>
		<key>cht</key>
		<string>[0fffc]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_0fffc.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[263a]</string>
		<key>cht</key>
		<string>[263a]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>emoji_263a.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
